# SQL ðŸ“š

## Your Tasks:

**Please deliver the following:** 

1. A function named `stocks` that returns a dataframe of all stock prices for a given year. This function should have one argument: `year`.
    - Drop all null values from this dataframe. 
    - Use this function to create a dataframe of 2017 stock prices.
    
2. Please create a file named `data_collection.py` within the `src` folder containing this function. 
3. Create a function called `begins_with_count`
    - This function should receive a letter and return the number of companies that begin with the given letter.
4. Create a histogram visualizing the distribution of these counts for every letter in the alphabet.
5. Interpret the histogram.

### How do I do this?

You have been given a database called `stocks.db` within the [data/](data/) folder of this repo. 
- This database contains the opening and closing prices for the S&P 500 from 2013-2018.

You will need to open up a connection to this database, construct an approproate SQL query, and move this code into a `stocks` function. Other than pulling the data from the database, how much SQL and how much pandas you use will be up to you.

<center><h3>DATABASE SCHEMA</h3></center>

<img src="../static/db_schema.png" width=500 height=500>

Please complete the assigned task below:

In [44]:
import sqlite3
import pandas as pd
import string

In [45]:
conn = sqlite3.connect('../data/stocks.db')
c = conn.cursor()

In [46]:
year_query = f"""SELECT * FROM price 
                LEFT JOIN date 
                ON date.id = price.id
                WHERE date.date LIKE '2017%';"""
c.description

In [66]:
def stocks(year):
    year_query = f"""SELECT price.id, price.open, price.close, date.date, company.name, company.id as 'company_id'
                FROM price 
                JOIN date 
                ON date.id = price.id
                JOIN company
                ON company.id = price.company_id
                WHERE date.date LIKE '{year}%';"""
    df = pd.DataFrame(c.execute(year_query))
    df.dropna()
    df. columns = [col[0] for col in c.description]
    return df

In [71]:
stocks(2017)

       id      open     close                 date  name  company_id
0     983   68.7900   68.6800  2017-01-03 00:00:00   BAX          42
1     984   36.3048   36.3524  2017-01-04 00:00:00   VFC         211
2     985   95.5000   95.8700  2017-01-05 00:00:00   KSU         266
3     986  153.4900  152.3200  2017-01-06 00:00:00   ADS         174
4     987   74.7400   74.5800  2017-01-09 00:00:00   TMO         195
..    ...       ...       ...                  ...   ...         ...
246  1229   23.5200   23.7500  2017-12-22 00:00:00   PGR          84
247  1230   62.0900   62.2000  2017-12-26 00:00:00   AXP          31
248  1231   14.6400   14.5000  2017-12-27 00:00:00   DAL         369
249  1232   32.8600   33.2600  2017-12-28 00:00:00  NLSN         368
250  1233   49.4400   49.3700  2017-12-29 00:00:00    IT         331

[251 rows x 6 columns]

In [67]:
alphabet = string.ascii_uppercase

In [68]:
def begins_with_count(letter,df):
    first_letters = df['name'].apply(lambda x: x[0])
    return first_letters.count(letter)

In [69]:
alpha_list= [alpha for alpha in alphabet]

In [70]:
alpha_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [64]:
frequency_dict = {}
for alpha in alpha_list:
    frequency_dict[alpha] = 0

In [65]:
frequency_dict

{'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'E': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'R': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0}

In [ ]:
def dict_update(string)
    frequency_dict[string[0]] += 1